.container{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    padding-right: 2em;
    padding-left: 2em;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.container__row{
    display: flex;
    justify-content: space-between;
    text-align: center;
    @include tablet {
        flex-wrap: wrap;
      }

}

.container__row--align{
    align-self: center;
    align-items: center;
}