// *------------------------------------*\
//  Objects > Images
// *------------------------------------*/ 

.img-circle{
    border-radius: 50%;
}

.img-simple{
    margin:auto;
}

.img-100{
    max-width: 100px;
}
